.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #2b2d42;
  color: #fff;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.button {
  font-size: 30px;
  font-weight: bold;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #2b2d42;
}