.deviceTable {
  margin: 30px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

.table td,
.table th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  font-size: 20px;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.button {
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonOn {
  background-color: #5cb85c;
}

.buttonOff {
  background-color: #d9534f;
}

.buttonText {
  font-size: 14px;
  font-weight: bold;
}

.historyButton {
  background-color: #858585;
}

.textRed {
  color: #d9534f;
  font-weight: bold;
}

.textGreen {
  color: #5cb85c;
  font-weight: bold;
}
